.container {
  margin: 0rem;
  height: calc(100vh - var(--navbar-height, 60px));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}